img {
	max-width: 512px;
	max-height: auto;
}
table {
	margin-left: auto;
	margin-right: auto;
}
.chalcogen{
	background-color: coral;
}
.alkali{
	background-color: azure;
}
.metalloid{
	background-color: mediumslateblue;
}
.halogen{
	background-color: hotpink;
}
.inertgase{
	background-color: gainsboro;
}
.posttrans{
	background-color: palegoldenrod;
}
.earthmetal{
	background-color: burlywood;
}
.transmetal{
	background-color: mediumpurple;
}
.lanthanoid{
	background-color: lightcoral;
}
.actinoid{
	background-color: aquamarine;
}
.cell-style{
	text-align: right;
	font-family: Arial;
	padding-left: 60%;
	position: absolute;
	top: 60%;
	font-size: 0.4vw;
	margin: 0.2vw 0.1vw 0.4vw 0.1vw;
}
td {
	text-align: center;
	font-family: Arial;
	font-size: 0.6vw;
	font-weight: bold;
	width: 5.5vw;
	padding-top: 0.2vw;
	padding-left: 0.2vw;
	padding-right: 0.2vw;
	position: relative;
}
th {
	font-size: 1.1vw;
	line-height: 1.5vw;
	height: 1.9vw;
}

.num{
	text-align: left;
	font-family: Arial;
	position: absolute;
	top: 60%;
	padding-left: 2%;
	font-size: 0.4vw;
	margin: 0.2vw 0.2vw 0.4vw 0.2vw;
}