#box {
	border-radius: 10px;
	box-shadow: 10px 10px 3px black;
	padding: 15px;
}
body {
	background-color: darkgray;
}
.header {
	max-width: 1750px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #909090;
	position: relative;
}

.header-img1 {
	width: 40%;
	height: 80%;
	position: absolute;
	top: 20px;
}

.header-img2{
	width: 25%;
	height: 100%;
	position: absolute;
	right: 50px;
	top: 30px
}

.header-img3{
	width: 2%;
	height: 10%;
	position: absolute;
	right: 20px;
	top: 200px
}

.header-img4{
	width: 2%;
	height: 10%;
	position: absolute;
	right: 20px;
	top: 10px
}

.wrapper {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.side-left, .side-right, .center {
	flex: left;
}

.side-left {
	width: 150px;
	height: 500px;
	margin-right: 40px;
	margin-left: 20px;
	background-color: #909090;
	position: relative;
}

.side-left-img1{
	width: 50%;
	height: 18%;
	position: absolute;
	left: 50px;
	top: 10px
}

.side-left-img2{
	width: 50%;
	height: 18%;
	position: absolute;
	left: 50px;
	top: 110px
}

.side-left-img3{
	width: 50%;
	height: 18%;
	position: absolute;
	left: 45px;
	top: 210px;
	border: 6px solid red;
}

.side-left-img4{
	width: 50%;
	height: 18%;
	position: absolute;
	left: 50px;
	top: 320px;
}

.side-left-img5{
	width: 50%;
	height: 18%;
	position: absolute;
	left: 50px;
	top: 420px;
}
.center {
	width: 50%;
	height: 700px;
	background-color: #909090;
	position: relative;
}

.center img {
	width: 100%;
	height: 99%;
	object-fit: fill;

}

.empty-box1{
	height: 160px;
	width: 110px;
	top: 55%;
	left: 32%;
	position: absolute;
}

.empty-box2{
	height: 150px;
	width: 250px;
	top: 60%;
	left: 75%;
	position: absolute;
}

.side-right {
	width: 150px;
	height: 500px;
	margin-left: 40px;
	margin-right: 20px;
	background-color: #909090;
	position: relative;
}

.side-right-img1{
	width: 50%;
	height: 22%;
	position: absolute;
	left: 50px;
	top: 10px
}

.side-right-img2{
	width: 60%;
	height: 16%;
	position: absolute;
	left: 50px;
	top: 140px
}

.side-right-img3{
	background-image: url("../resources/brick.jpg");
	width: 70%;
	height: 16%;
	position: absolute;
	left: 30px;
	top: 240px;
}

.hidden-img{
	opacity: 100%;
}

.footer{
	max-width: 550px;
	height: 145px;
	margin-left: auto;
	margin-right: 70%;
	background-color: #88FF89;
	position: relative;
	bottom: 80px;
	left: 80px;
	z-index: 1;
}
.footer-txt{
	font-size: 17px;
	line-height: 0.1;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.ordinateurs{
	text-shadow: 2px 5px 3px #ff0000;
}
.bigger { 
	font-size:200%;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.field {
	padding-top: 5px;
}

label{
	font-style: italic;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 15px;
}

#example{
	width: 70%;
	height: 20px;
	padding-right: 20px;
	margin-right: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	box-shadow:inset 2px 2px 3px black
}

